<li>
	<h2 class="marker">{{burger_name}}</h2>

	<img class="slider" src="/assests/img/burger.png">

	<button class="change-eat boldest rounded" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}REMAKE!

		{{else}}DEVOUR!

		{{/if}}
	</button>

	<button class=" rounded delete-burger" data-id="{{this.id}}">Delete Burger</button>
</li>