<li>
	<h2>{{burger_name}}</h2>

	<img class="slider" src="/assests/img/burger.png">

	<button class="change-eat" data-id="{{this.id}}" data-newEaten="{{eaten}}">
		{{#if eaten}}ALL GONE BUSTER!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete Burger</button>
</li>